*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body,#app {
    height: 100%;
    width: 100%;
}

.layout-container{
    height: 100%;
}

.flex{
    display: flex;
}

.flex-center{
    align-items: center;
    justify-content: center;
}