@charset "UTF-8";
:root {
  --jy-color-white: #fff;
  --jy-color-black: #2b2f38;
  --jy-color-primary: #1966ff;
  --jy-border-color: #f1f2f3;
  --jy-color-hover: #3c3c3c;
  --jy-bg-menuMainColor: var(--jy-color-white) !important;
  --jy-bg-menuActiveColor: var(--jy-color-black) !important;
  --jy-bg-menuHoverColor: var(--jy-color-black) !important;
  --jy-text-menuMainColor: var(--jy-color-black) !important;
  --jy-text-menuActiveColor: var(--jy-color-white) !important;
  --jy-text-menuHoverColor: var(--jy-color-white) !important;
  --jy-bg-headerBarColor: var(--jy-color-white) !important;
  --jy-color-user-hover: var(--jy-color-hover-rgba) !important;
  --jy-border-color-light: var(--jy-border-color) !important;
}

.layout-aside {
  border-right: 1px solid #f1f2f3;
}

.layout-aside .layout-logo {
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: var(--el-color-primary);
  cursor: pointer;
}

.layout-aside .layout-logo .layout-logo-img {
  width: 26px;
  height: 26px;
}

.layout-aside .layout-logo span {
  display: inline-block;
  font-size: 14px;
  margin-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.layout-aside-menu-200 {
  width: 200px !important;
  transition: width 0.3s ease;
}

.layout-aside-menu-60 {
  width: 60px !important;
  transition: width 0.3s ease;
}

.layout-header {
  padding: 0;
  height: auto !important;
}

.layout-header .layout-header-expand-icon {
  display: flex;
}

.layout-header .layout-header-index {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  background-color: var(--jy-bg-headerBarColor);
  color: var(--el-text-color-regular);
  border-bottom: 1px solid var(--jy-border-color-light) !important;
}

.layout-header .layout-header-user {
  display: flex;
  align-items: center;
  margin-right: 15px;
  height: inherit;
}

.layout-header .layout-header-user .layout-header-user-icon {
  cursor: pointer;
  padding: 0 10px;
  height: 50px;
  line-height: 50px;
  display: flex;
  align-items: center;
}

.layout-header .layout-header-user .layout-header-user-icon:hover {
  background-color: var(--jy-border-color) !important;
}

.layout-header .layout-header-user .el-dropdown-link {
  display: flex;
  align-items: center;
  outline: none !important;
  white-space: nowrap;
}

.layout-header .layout-header-user .el-dropdown-link .username {
  margin: 0 5px;
}

/*** NavMenu 导航菜单样式 
------------------------------------- ****/
.el-menu {
  border-right: none !important;
}

.el-menu-item,
.el-sub-menu__title {
  color: var(--jy-text-menuMainColor) !important;
}

.el-sub-menu__title:hover {
  background-color: transparent !important;
}

.el-menu-item:hover {
  color: var(--jy-text-menuHoverColor) !important;
  background-color: var(--jy-bg-menuHoverColor) !important;
}

.el-menu-item.is-active {
  color: var(--jy-text-menuActiveColor) !important;
  background-color: var(--jy-bg-menuActiveColor) !important;
}
